<div class="datacontainer">
  <div class="playlist"  ng-repeat="playlist in $ctrl.getPlaylist">
    <ul >
      <li >name: {{ playlist.name }} </li>
      <li> images: {{ playlist.images[0] }} </li>
      <!-- <li> <img ng-src="playlist.images[0].url" /></li> -->
      <li> tracks: {{ playlist.tracks.total }} </li>
    </ul>
  </div>
  <!-- <div class="playlist">
    <ul>

    </ul>
  </div>
  <div class="playlist" id="2">
    <ul>

    </ul>
  </div>
  <div class="playlist" id="3">
    <ul>

    </ul>
  </div>
  <div class="playlist" id="4">
    <ul>

    </ul>
  </div>
  <div class="playlist" id="5">
    <ul>

    </ul>
  </div>
  <div class="playlist" id="6">
    <ul>

    </ul>
  </div>
  <div class="playlist" id="7">
    <ul>

    </ul>
  </div>
  <div class="playlist" id="8">
    <ul>

    </ul>
  </div>
  <div class="playlist" id="9">
    <ul>

    </ul>
  </div>
  <div class="playlist" id="10">
    <ul>

    </ul>
  </div> -->

</div>
