<div class="datacontainer">
  <div class="playlist"  ng-repeat="playlist in $ctrl.getPlaylist">
    <ul >
      <li > {{ playlist.name }} </li>
      <li> <img src="{{ playlist.images[0].url }}" /> </li>
      <!-- <li> <img ng-src="playlist.images[0].url" /></li> -->
      <li> Tracks: {{ playlist.tracks.total }} </li>
      <a href="{{ playlist.external_urls.spotify }}" target="_blank"><button type="button" name="button">Play in Spotify</button></a>

    </ul>
  </div>
  <!-- <div class="playlist">
    <ul>

    </ul>
  </div>
  <div class="playlist" id="2">
    <ul>

    </ul>
  </div>
  <div class="playlist" id="3">
    <ul>

    </ul>
  </div>
  <div class="playlist" id="4">
    <ul>

    </ul>
  </div>
  <div class="playlist" id="5">
    <ul>

    </ul>
  </div>
  <div class="playlist" id="6">
    <ul>

    </ul>
  </div>
  <div class="playlist" id="7">
    <ul>

    </ul>
  </div>
  <div class="playlist" id="8">
    <ul>

    </ul>
  </div>
  <div class="playlist" id="9">
    <ul>

    </ul>
  </div>
  <div class="playlist" id="10">
    <ul>

    </ul>
  </div> -->

</div>
